@model Batch
@{
    ViewData["Title"] = Model.Recipe.Name;
}
<div class="container text-center">
    <h1>Batch Admin</h1>
    <p>@Model.Recipe?.Name @Model.BatchId</p>
    <form class="d-flex align-items-center gap-3" asp-action="BatchStatusUpdate" asp-controller="Bakery" asp-route-bId="@Model.BatchId">
        <label >Status:</label>
        <select name="status">
            @foreach (KeyValuePair<int,string> kvp in ViewBag.Statuses)
            {
                if (kvp.Key == Model.Status)
                {
                    <option value="@kvp.Key" selected>@kvp.Value</option>
                } else 
                {
                    <option value="@kvp.Key" >@kvp.Value</option>
                }
            }
        </select>
        <button class="btn btn-primary">Update</button>
    </form>

    @foreach (RecipeBakingMaterialAssociation rbma in Model.Recipe.BakingMaterialAssociations)
    {
        <p class="text-start mt-3">@rbma.BakingMaterial.Name used: (@rbma.Quantity @rbma.BakingMaterial.UnitOfMeasure.ToUpper() needed) </p>
        <div class="container">
            @{
                List<BatchBakingMaterialStockAssociation> matched = Model.BakingMaterialStockAssociations.Where(bmsa => bmsa.BakingMaterialStock.BakingMaterialId == rbma.BakingMaterialId).ToList();
            }
            @foreach (BatchBakingMaterialStockAssociation bbmsa in matched)
            {
                <p>@bbmsa.BakingMaterialStock.Brand @bbmsa.BakingMaterialStock.Batch @bbmsa.Quantity</p>
            }

        </div>
    }
</div>